---
title: "Working with data"
format: html
execute:   
  enabled: true
---

In [ ]:
import pandas as pd
surveys_df = pd.read_csv('../data/surveys.csv')

### Exercise 3
- Swap the order of column names in `surveys_df[['plot_id', 'species_id']]`
- Repeat one of the column names like `surveys_df[['plot_id', 'plot_id', 'species_id']]`.
How does the results look like and why?
- Which error occurrs in `surveys_df['plot_id', 'species_id']` and why?
- Which error occurrs in `surveys_df['speciess']`?

In [ ]:
print(surveys_df[['species_id', 'plot_id']])

In [ ]:
surveys_df[['plot_id', 'plot_id', 'species_id']] # repeating column plot_id

In [ ]:
surveys_df['plot_id', 'species_id'] 
# The tuple, or combination ('plot_id', 'species_id') is not a 
# column name (key) in the dataframe --> KeyError: ('plot_id', 'species_id')

In [ ]:
surveys_df['speciess']
# 'speciess' is not a column name (key) in the dataframe

### Exercise 4
What happens when you execute:
- `surveys_df[0:1]`
- `surveys_df[:4]`
- `surveys_df[:-1]`

In [ ]:
surveys_df[0:1] # shows the first row of the dataframe
surveys_df[:4] # shows the first four rows from index 0 to index 3
surveys_df[:-1] # shows all rows of the dataframe

### Exercise 5
What happens in the following two examples?

- ```surveys_df.iloc[0:4, 1:4]```;
- ```surveys_df.loc[0:4, 1:4]```.

In [ ]:
print(surveys_df.iloc[0:4, 1:4])
surveys_df.loc[0:4, 1:4] # the function loc works with indices for rows (0:4), 
# but not with indices for columns (1:4). COlumns do have names in our dataframe

### Exercise 6
- Create a new DataFrame that only contains observations with sex values that are not female or male. Print the number of rows in this new DataFrame. Verify the result by comparing the number of rows in the new DataFrame with the number of rows in the surveys DataFrame where sex is NaN (hint: there is a function `isnull`).
- Create a new DataFrame that contains only observations that are of sex male or female and where weight values are greater than 0.

In [ ]:
df = surveys_df[(surveys_df['sex'].isnull())]
print("Number of rows:", len(df))
print("Unique values in column 'sex':", df['sex'].unique())

### Exercise 7: Putting it all together 
1. Clean the column *sex* (leave out samples we do not know whether they are male or female) and save the result as a new dataframe `clean_df`.
2. Fill undefined *weight* values with the mean of all valid weights in `surveys_df`.
3. Calculate the average weight of that new DataFrame `clean_df`

In [ ]:
# Step 1
# sex is 'F' or 'M'. The `|` means or.
clean_df = surveys_df[(surveys_df['sex']=='F') | (surveys_df['sex']=='M')]
# or not sex is null. The `~` means not.
clean_df = surveys_df[~(surveys_df['sex'].isnull())]

# Step 2
clean_df.weight.fillna(surveys_df.weight.mean())

# Step 3
print("Average weight of surveys_df:", surveys_df.weight.mean())
print("Average weight of clean_df:", clean_df.weight.mean())

## Exercise 8
Let's see in which plots animals get more food. Calculate the average weight per plot! Complete the code below.

In [ ]:
grouped_data = surveys_df.groupby("plot_id")
grouped_data['weight'].mean()

## Exercise 9
Investigate the group keys and row indexes for this more complex grouping example. 
Why are there more than 48 groups?
What happened to the third group and why dos it not turn up in our statistics?

In [ ]:
grouped_data = surveys_df.groupby(['sex', 'plot_id'])
print(len(grouped_data.groups))
grouped_data.groups.keys() # we also have a categorial value 'nan'.

### Exercise 10
Would it make sense to group our data frame by the column *weight*? Why or why not?

In [ ]:
# In real life nearly every sample has a unique value. So nearly every sample would 
# be placed in an own group.
# In our training data you can see that there are quite some values for weight. So
# usually it is not a good idea to categorise (group) data on such values.
print("Number of rows:", len(surveys_df))
print(len(surveys_df['weight'].unique())) #includes nan
print(len(surveys_df.groupby(['weight']).groups)) #does not include nan