---
title: "Exercises"
execute: 
  enabled: false
---

## Exercises
### Exercise 0
Try to run this code. Why is there no output?

In [ ]:
x = 6
apple = "apple"

### Exercise 1
1. Calculate: One plus five divided by nine.
2. Assign the result of the calculation to a variable.
3. Test  if the result is larger than one.
4. Round off the result to one decimal. Use the function `round`.

In [ ]:
s = 
round(FILL_IN)

### Exercise 2
Predict the results:

In [ ]:
5 == 5
not 3 > 2
True == 'True'
False < True

### Exercise 3: variables and operators
Evaluate the statements below. What do you think will be the output of python? Do you agree with python?

In [ ]:
1 + 1
1 + True
1 + "one"

### Exercise 4
Meet Ann, Bob, Chloe, and Dan. 
1. Create a list with their names. Save the list as "name".

2.  How old are Ann, Bob, Chloe, and Dan? You decide! Design a numeric list with their respective ages. Save it as "age".

3.  What is their average age? (Use the function `sum` to sum up their cumulative ages, you can use `len(age)` to get the number of elements in a list)

### Exercise 5
1.  Return only the first number in the list age.
2.  Return the 2nd and 4th name in your list name.
3.  Return only ages under 30 from your list age.
4.  Return the name "Chloe" from the list name.

### Exercise 6
- Create a new dictionary
- Print the values of the dictionary to the screen
- Reassign the value of one key to 2
- Print the values of the dictionary to the screen again to see if the value has changed.

### Exercise 7
Make an if statement that tests if a number is even, and saves the classification in a variable called `number_class`.

In [ ]:
number = 5

### Exercise 8
Turn the if statement from the last exercise into a function. Let the user provide the value for `number`, and return the `number_class`.

In [ ]:
# Run this code to test your function aboce
number = 5
print(number, "is", even_or_odd(number))

### Exercise 9 
Use the function above to determine whether the numbers between 1 and 10 are even or odd.