---
title: "Working with data"
format: html
---

In [ ]:
import pandas as pd
surveys_df = pd.read_csv('data/surveys.csv')
species_df = pd.read_csv('data/species.csv')

### Exercise 0

Type the following commands and check the outputs. Can you tell what each command does? What is the difference between commands with and without parenthesis?

`surveys_df.shape` Answer:
`surveys_df.columns` Answer:
`surveys_df.index` Answer:
`surveys_df.dtypes` Answer:
`surveys_df.head(<try_various_integers_here>)` Answer:
`surveys_df.tail(<try_various_integers_here>)` Answer:

[Course book chapter 5 for reference](https://utrechtuniversity.github.io/workshop-introduction-to-python/data-science-with-pandas-1.html)

### Exercise 1
Perform some basic statistics on the weight column. For practical reasons, it can be useful to first create a variable `weight` that contains the just the weight column. It will make the code look a bit cleaner. Can you tell what each method listed below does? Look at our explorative plot, do the statistics make sense?

```python
weight=surveys_df['weight']
weight.min()
weight.max()
weight.mean()
weight.std()
weight.counts()
```

[Course book chapter 5 for reference](https://utrechtuniversity.github.io/workshop-introduction-to-python/data-science-with-pandas-1.html)

### Exercise 2
- Print the columns 'species_id' and 'plot_id' side by side
- Do the same, but use one of these columns twice.
What do the results look like and why?  Answer: 
- Which error occurrs in `surveys_df['plot_id', 'species_id']` and why? Answer:
- Which error occurrs in `surveys_df['speciess']`? Answer:

### Exercise 3
What happens when you call:
- `surveys_df[0:1]` Answer:
- `surveys_df[:4]` Answer: 
- `surveys_df[:-1]` Answer:

### Exercise 4
What happens in the following two examples?

- ```surveys_df.iloc[0:4, 1:4]```;
- ```surveys_df.loc[0:4, 1:4]```.

How are the two commands different? Answer:

### Exercise 5
- Create a new DataFrame that only contains observations from the original DataFrame with sex values that are not female or male. Print the number of rows in this new DataFrame. Verify the result by comparing the number of rows in the new DataFrame with the number of rows in the surveys DataFrame where sex is NaN (hint: there is a function `isnull`).
- Create a new DataFrame that contains only observations that are of sex male or female and where weight values are greater than 0.

### Exercise 6: Putting it all together 
1. Clean the column *sex* (leave out samples of which we do not know whether they are male or female) and save the result as a new dataframe `clean_df`.
2. Replace undefined *weight* values with the mean of all (defined) weights in `surveys_df`.
3. Calculate the average weight of that new DataFrame `clean_df`

### Exercise 7
Let's see in which plots animals get more food. Calculate the average weight per plot! Complete the code below.

In [ ]:
grouped_data = surveys_df.groupby(...)
grouped_data[...].mean()

### Exercise 8
See below a more complex grouping example. Investigate the group keys and row indexes for this more complex grouping example. 
Why are there more than 48 groups? Answer: 
Calculate the average weight per group.
What happened to the third group and why does it not turn up in our statistics? Answer:

In [ ]:
grouped_data = surveys_df.groupby(['sex', 'plot_id'])
print(len(grouped_data.groups))

### Exercise 9
Would it make sense to group our data frame by the column *weight*? Why or why not?

### Exercise 10
In the given example of vertical concatenation, you concatenated two DataFrames with the same columns. What would happen if the two DataFrames to concatenate have different column number and names?

  1. Create a new DataFrame using the last 10 rows of the species DataFrame (`species_df`);
  2. Concatenate vertically `surveys_df_sub_first10` and your just created DataFrame;
  3. Print the concatenated DataFrame info on the screen. How may rows does it have? What happened to the columns? Explain why you get this result.

In [ ]:
species_df = pd.read_csv("../data/species.csv")

surveys_df_sub_first10 = surveys_df.head(10)

### Exercise 11
  1. Looking at the `inner_join` example, can you explain how much of each of the two DataFrames is missing from the result?

Now consider the other types of joins, for each one, can you predict the number of rows and the contents of the resulting DataFrame, based on the diagrams in the picture?

  2. For the outer join;
  3. For the left join;
  4. For the right join.

In [ ]:
left_df = surveys_df.head(10)
right_df = species_df.head(20)

### Exercise 12
Time to play with plots! Look at the pandas.DataFrame.plot() documentation [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html) and change your data visualization selecting different DataFrame columns, x and y axes, and kind of plot (try at least three different plots).

In [ ]:
import matplotlib.pyplot as plt

fig, ax1 = plt.subplots() # prepare a matplotlib figure

surveys_df.plot("hindfoot_length", "weight", kind="scatter", ax=ax1)

# Provide further adaptations with matplotlib:
ax1.set_xlabel("Hindfoot length")
ax1.tick_params(labelsize=16, pad=8)
fig.suptitle('Scatter plot of weight versus hindfoot length', fontsize=15)

### Exercise 13

Plot the data from different groups in two subplots in a single figure:
- Initialize a Figure with 2 Axes distributed in one rows and two columns;
- In the first Axis plot the data for all Females, and in the second Axis, plot all Males.
- Make your Axes (plots) "pretty": label all your axes, use clear character font, choose a nice title for your plot. You may want to consult the [`Axes.plot()` documentation](https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.plot.html).