---
title: "Working with data"
format: html
execute:   
  enabled: true
---

## Exercise 3
- Swap the order of column names in `surveys_df[['plot_id', 'species_id']]`
- Repeat one of the column names like `surveys_df[['plot_id', 'plot_id', 'species_id']]`
How does the results look like and why?
- Which error occurrs in `surveys_df['plot_id', 'species_id']` and why?
- Which error occurrs in `surveys_df['speciess']`?

## Exercise 4
What happens when you execute:
- `surveys_df[0:1]`
- `surveys_df[:4]`
- `surveys_df[:-1]`

What happens when you call:
- `surveys_df.iloc[0:4, 1:4]`
- `surveys_df.loc[0:4, 1:4]`
How are the two commands different?

## Exercise 5
What happens in the following two examples?

- ```surveys_df.iloc[0:4, 1:4]```;
- ```surveys_df.loc[0:4, 1:4]```.

## Exercise 6
- Create a new DataFrame that only contains observations with sex values that are not female or male. Print the number of rows in this new DataFrame. Verify the result by comparing the number of rows in the new DataFrame with the number of rows in the surveys DataFrame where sex is NaN (hint: there is a function isnull).
- Create a new DataFrame that contains only observations that are of sex male or female and where weight values are greater than 0.

## Exercise 7: Putting it all together 
1. Clean the column *sex* (leave out samples we do not know whether they are male or female)
2. Create a new dataframe *clean_df* which only contains rows of which we have a valid value for *sex* and *weight*
3. Calculate the average weight of that new DataFrame

## Exercise 8
Let's see in which plots animals get more food. Calculate the average weight per plot! Complete the code below.

In [ ]:
grouped_data = surveys_df.groupby(...)
grouped_data[...].mean()

## Exercise 9
Investigate the group keys and row indexes for this more complex grouping example. 
Why are there more than 48 groups?
What happened to the third group and why dos it not turn up in our statistics?

In [ ]:
grouped_data = surveys_df.groupby(['sex', 'plot_id'])
len(grouped_data.groups)

## Exercise 10
Would it make sense to group our data frame by the column *weight*? Why or why not?

## Exercise 11
In the given example of vertical concatenation, you concatenated two DataFrames with the same columns. What would happen if the two DataFrames to concatenate have different column number and names?

  1. Create a new DataFrame using the last 10 rows of the species DataFrame (`species_df`);
  2. Concatenate vertically `surveys_df_sub_first_10` and your just created DataFrame;
  3. Print the concatenated DataFrame info on the screen. How may rows does it have? What happened to the columns? Explain why you get this result.

## Exercise 12
In the given example of horizontal concatenation, you first concatenated two DataFrame with different indices, then reset the indices of the second one. Based on the outcome of these two cases, try to answer the following questions:
  1. What happens when you concatenate horizontally two DataFrames with different indexing?
  2. What happens when you concatenate horizontally two DataFrames with the same columns?
  3. What happens when you try to select a column of the `horizontal_stack` DataFrame we just created?
  4. How can you select a specific column, when multiple columns share a name?