---
title: "Exercises"
execute: 
  enabled: false
---

### Exercise 0

1. Try to run the code below. Why is there no output? (double click this cell to be able to edit the answer)

In [ ]:
x = 6
apple = "apple"

Answer:

2. Below, write code to print both the variable names and values of the code cell above as output. For this exercise you are allowed to type text in the print statement but you are only allowed to type the variable names in the print statements, not the values (so you can type `"x"`, but you cannot type `"6"`).

### Exercise 1
1. Calculate: One plus five divided by nine and assign the result of the calculation to a variable.
2. Test  if the result is larger than one. (tip: output of the cell should be True or False)
3. Round off the result to one decimal. Use the function `round`. (tip: use `? round` or you internet search engine for information about how to use the function)

In [ ]:
s =

In [ ]:
s

In [ ]:
round(FILL_IN)

### Exercise 2
Predict the results of each of the following comparisons first, then run the cell below:
(double click this cell to edit)

`5 == 5` answer:  
`not 3 > 2` answer:  
`True == 'True'` answer:  
`False < True` answer:

In [ ]:
print(5 == 5)
print(not 3 > 2)
print(True == 'True')
print(False < True)

### Exercise 3: variables and operators
Evaluate the statements below. What do you think will be the output of python? Do you agree with python?  
`1 + 1` answer:  
`1 + True` answer:  
`1 + "one"` answer:

In [ ]:
print(1 + 1)
print(1 + True)
print(1 + "one")

### Exercise 4
Meet Ann, Bob, Chloe, and Dan. 
1. Create a list with their names. Save the list as "name".

2.  How old are Ann, Bob, Chloe, and Dan? You decide! Design a numeric list with their respective ages. Save it as "age".

3.  What is their average age? (Use the function `sum` to sum up their cumulative ages, you can use `len(age)` to get the number of elements in a list)

### Exercise 5

1.  Return only the first number in the list age.
2.  Return the 2nd and 4th name in your list name.
3.  Return only ages under 30 from your list age. Bonus: put them in a new list called `new_age`.
4.  Return the age of "Chloe" from the list age.

### Exercise 6
- Create a new dictionary that contains the keys: 'name', 'age' and 'country' and their respective values (you can make up the values yourself).
- Print the values of the dictionary to the screen
- Reassign the value of key 'age' to 24
- Print the values of the dictionary to the screen again to see if the value has changed.

### Exercise 7
Create an if statement that tests whether a number is even or odd, and saves the classification in a variable called `number_class`.  
Hint, you can use the % operator (aka modulo operator). If necessary, you can try the operator to see what it does in the cell below or search the web.

In [ ]:
number = 5

# if ...

### Exercise 8
Turn the if statement from the last exercise into a function e.g. with the name `even_or_odd` (or choose a different name yourself). Let the user provide the value for `number`, and return the `number_class`.

In [ ]:
# Run this code to test your function aboce
number = 5
print(number, "is", even_or_odd(number))

### Exercise 9 
Use the function above to determine whether the numbers between 1 and 10 are even or odd.  
Hint: the [`range` function](https://docs.python.org/3.8/library/stdtypes.html#range) might be helpful.