---
title: "Data Science with Pandas (part 1)"
format: html
execute: 
  enabled: true
---

# Data Science with pandas (part 2)

## Combining data frames

In [2]:
import pandas as pd

In [4]:
surveys_df = pd.read_csv("data/surveys.csv", keep_default_na=False, na_values=[""])
species_df = pd.read_csv("data/species.csv", keep_default_na=False, na_values=[""], on_bad_lines='skip')

In [5]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [6]:
species_df

                                        <!DOCTYPE html>
0     <html lang="en" data-color-mode="auto" data-li...
1                                                <head>
2                                <meta charset="utf-8">
3       <link rel="dns-prefetch" href="https://githu...
4       <link rel="dns-prefetch" href="https://avata...
...                                                 ...
1577                                        </template>
1578                                             </div>
1579      <div id="js-global-screen-reader-notice" c...
1580                                            </body>
1581                                            </html>

[1582 rows x 1 columns]