---
title: "Data Science with Pandas"
format: html
execute: 
  enabled: true
---

# Data Science with pandas

## Preliminaries

### Importing package and checking version

In [4]:
import pandas as pd
print(pd.__version__)

1.4.2

Let's try out the Pandas library!

### Verifying current directory and set up data directory

In [7]:
import os
cwd = os.getcwd()
print(cwd)

/Volumes/Samsung_T5/uu_job/workshops/workshop-introduction-to-python/book

In [8]:
data_file = './data/surveys.csv'

In [11]:
print(os.path.exists(data_file))

True

### Reading the CSV file into a pandas DataFrame and giving a quick look

In [19]:
surveys_df = pd.read_csv(data_file)

print(type(data_file))
print(type(surveys_df))

<class 'str'>
<class 'pandas.core.frame.DataFrame'>

In [17]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

<div class="alert alert-block alert-warning">
<b>TRY IT YOURSELF:</b> Type the following commands and check out the outputs. Can you tell what each command does? What is the difference between commands with and without parenthesis?
</div>

```python
surveys_df.shape
surveys_df.columns
surveys_df.index
surveys_df.dtypes
surveys_df.head(<try_various_integers_here>)
surveys_df.tail(<try_various_integers_here>)
```

## Basic statistics

Let's first visualise all the column names in the data frame

In [26]:
print(surveys_df.columns)

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

We can use the loops we learned this morning to print them one by one:

In [27]:
for column in surveys_df.columns:
    print(column)

record_id
month
day
year
plot_id
species_id
sex
hindfoot_length
weight

Let's select the column *weight* and run some statistics on it

In [28]:
weight = surveys_df['weight']
print(type(weight))

<class 'pandas.core.series.Series'>

weight is a pandas

This is a book created from markdown and executable code.

See @knuth84 for additional discussion of literate programming.