---
title: "Introduction to python"
execute: 
  enabled: true
  error: true
  freeze: auto
---

# Introduction to python

## Some simple statements
We are working interactively with the python interpreter. Here you see that you can use it simply as a calculator

In [1]:
2+2

4

We can also print text to the screen. *Note*, that text (strings) alsways have to be surrounded by `"` or `'`.

In [ ]:
print("Hello World")

## Variables, values and their types
To keep the information we want to work with, we can assign values to variables. This is done with the `=` operator.
In Python, variable names:
- can include letters, digits, and underscores
- cannot start with a digit
- are case sensitive.

In [4]:
text = "Data Carpentry"
number = 42
pi_value = 3.141592653589793238462643383279502884197

Python knows various types of data. Three common ones are:

- integer numbers
- floating point numbers, and
- strings.

In the example above, variable number an integer value of 42 while pi_value is a floating point number and text is of type string (str).

In [4]:
text

'Data Carpentry'

In [5]:
type(text)

str

In [6]:
number

42

In [7]:
type(number)

int

In [5]:
pi_value

3.141592653589793

In [6]:
type(pi_value)

float

You can see that float is not precise enough to capture all of the digits after the dot we gave it. It stops at 15 positions.

## Output versus printing
In this example we first print the number and then call the variable again:

In [10]:
print(number)
number

42

42

Now we do it the other way around:

In [11]:
number
print(number)

42

The interpreter does not output the value of the variable unless it is the very last line in an input field. In general `print` is the only way to print output to the screen when you are not working in an interactive environment as Jupyter, but when you are working with scripts.
Rule of thumb: use output for quick checking while developing your Jupyter notebook, use print for all output that needs to be there while running a Jupyter notebook.

## Mathematical operations

In [8]:
summing = 2 + 2
multiply = 2 * 7
power = 2 ** 16
modulo = 13 % 5

print("Sum: ", summing)
print("Multiply: ", multiply)
print("Power: ", power)
print("Modulo: ", modulo)

Sum:  45.1415926535898
Multiply:  294
Power:  65536
Modulo:  3

Once we have data stored with variable names, we can make use of it in calculations.

In [11]:
output = number * pi_value
print(output)

131.94689145077132

## Logical values, operators and variables
There are two logical values, *true* and *false*. Inpython they are decoded as the values `True` and `False`. Note: here these two are really distinct values and no strings!

In [13]:
True

True

In [14]:
False

False

With the logical operators `>`, `<`, `==`, `and`, `or` and  `not` we can now compare variables and create logical statements.

In [15]:
compare = 3 > 4
print("3 > 4 : ", compare)

3 > 4 :  False

In [16]:
not_compare = not compare
print("not(3 > 4): ", not_compare)

not(3 > 4):  True

In [17]:
compare or not_compare

True

In [18]:
compare and not_compare

False

In [19]:
True or False

True

In [20]:
True and False

False

In [21]:
True == compare

False

## Built-in Python functions
To carry out common tasks with data and variables in Python, the language provides us with several built-in functions. To display information to the screen, we use the print function:

In [12]:
print(pi_value)

3.141592653589793

When we want to make use of a function, referred to as calling the function, we follow its name by parentheses. The parentheses are important: if you leave them off, the function doesnâ€™t actually run! Sometimes you will include values or variables inside the parentheses for the function to use. In the case of print, we use the parentheses to tell the function what value we want to display. We will learn more about how functions work and how to create our own in later episodes.

We can display multiple things at once using only one print call:

In [16]:
compare = 3 > 4
print("3 > 4 : ", compare)
print(number, "times", pi_value, "equals", number * pi_value)

3 > 4 :  False
42 times 3.141592653589793 equals 131.94689145077132

## The if-statement
We  saw how to create logical statements. In the if-clause we use these as conditional statements to carry some tasks.

In [21]:
num = 37
if num > 100:
    print('greater')
else:
    print('not greater')
print('done')

not greater
done

In [22]:
num = -3

if num > 0:
    print(num, 'is positive')
elif num == 0:
    print(num, 'is zero')
else:
    print(num, 'is negative')

-3 is negative

Along with the > and == operators we have already used for comparing values in our conditionals, there are a few more options to know about:

- \>: greater than
- \<: less than
- ==: equal to
- !=: does not equal
- \>=: greater than or equal to
- \<=: less than or equal to

We can also combine tests using and and or. and is only true if both parts are true:

In [23]:
if (1 < 0) or (1 >= 0):
    print('at least one test is true')

at least one test is true

## Lists and Tuples

In [17]:
numbers = [1, 2, 3]
numbers[0]

1

In [18]:
type(numbers)

list

In [19]:
len(numbers)

3

In [20]:
numbers[3]

IndexError: list index out of range

In [ ]:
numbers[-1]

In [ ]:
numbers[2] == numbers[-1]

In [ ]:
words = ["cat", "dog", "horse"]
words[1]

In [ ]:
type(words)

In [ ]:
if type(words) == type(numbers):
    print("these variables have the same type!")

In [ ]:
newlist = ["cat", 1, "horse"]

In [ ]:
type(newlist[0])

In [ ]:
type(newlist[1])

In [ ]:
numbers.append(4)
print(numbers)

In [ ]:
numbers[2] = 333
print(numbers)

In [ ]:
# Tuples use parentheses
a_tuple = (1, 2, 3)
another_tuple = ('blue', 'green', 'red')

# Note: lists use square brackets
a_list = [1, 2, 3]

In [ ]:
a_list[1] = 5
print(a_list)

In [ ]:
a_tuple[2] = 5
print(a_tuple)

In [ ]:
type(a_tuple)

## Dictionaries

In [ ]:
my_dict = {'one': 'first', 'two': 'second'}
my_dict

In [ ]:
my_dict['one']

In [ ]:
my_dict['third'] = 'three'
my_dict

## For loops

In [ ]:
numbers = [5, 6, 7]

In [ ]:
for item in numbers:
    print(item)

In [ ]:
words = ["cat", "dog", "horse"]
for index, item in enumerate(words):
    print(index)
    print(item)

In [ ]:
for key, value in my_dict.items():
    print(key, '->', value)

## Functions

## Exercises
### Exercise 0
Try to run this code. Why is there no output?

In [ ]:
x = 6
apple = "apple"

### Exercise 1
1. Calculate: One plus five divided by nine.
2. Assign the result of the calculation to a variable.
3. Test  if the result is larger than one.
4. Round off the result to one decimal. Use the function `round`.

In [ ]:
s = (1+5)/9
round(s, 1)

### Exercise 2
Predict the results:

In [ ]:
5 == 5
not 3 > 2
True == 'True'
False < True

### Exercise 3: variables and operators
Evaluate the statements below. What do you think will be the output of python? Do you agree with python?

In [ ]:
1 + 1
1 + True
1 + "one"

### Exercise 4
Meet Ann, Bob, Chloe, and Dan. 
1. Create a list with their names. Save the list as "name".

2.  How old are Ann, Bob, Chloe, and Dan? You decide! Design a numeric list with their respective ages. Save it as "age".

3.  What is their average age? (Use the function `sum` to sum up their cumulative ages, you can use `len(age)` to get the number of elements in a list)

In [ ]:
name = ["Ann", "Bob", "Chloe", "Dan"]
age = [3, 30, 41, 2]
sum(age)/len(age)

### Exercise 4
1.  Return only the first number in the list age.
2.  Return the 2nd and 4th name in your list name.
3.  Return only ages under 30 from your list age.
4.  Return the name "Chloe" from the list name.

In [ ]:
age[0]
[age[1], age[3]]
new_age=[]
for a in age:if a < 30:new_age.append(a)[n for n in name if n == "Chloe"] #or
name[name.index("Chloe")]

### Exercise 5
Make an if statement that tests if a number is even, and saves the classification in a variable called number_class.

In [ ]:
number = 5
if number%2 == 0:
    number_class = "even"
else:
    number_class = "odd"
print(number, "is", number_class)

### Exercise 6
Turn the if statement from the last exercise into a function. Let the user provide the value for number, and return the number_class.

In [ ]:
def even_or_odd(number):
    if number%2 == 0:
        number_class = "even"
    else:
        number_class = "odd"
    return number_class

In [ ]:
number = 5
print(number, "is", even_or_odd(number))

### Exercise 7 
Use the function above to determine whether the numbers between 1 and 10 are even or odd.

In [ ]:
for i in range(1, 11):
    res = even_or_odd(i)
    print(i, 'is', res)